.info-block {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #E09145;
  padding-bottom: 1rem;
  width: 90%;
}
.icon{
  color: #fff;
}
.contact-info a{
  text-decoration: none;
}
.text{
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 0;
}
.separator{
  width: 80%;
  height: 2px;
  background: #E09145;
  border: none;
}
