.services-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 6rem;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0.5rem;
  border-radius: 30px;
  margin-top: 2rem;
  background: linear-gradient(315deg, #111111, #141414);
  box-shadow:  
    -5px -5px 10px #101010,
    5px 5px 10px #161616;
  min-height: 370px;
}
.service-icon {
  width: 75px;
  height: 75px;
  mask-image: linear-gradient(
    #000 30%,
    transparent
  );
}
.service-icon img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.service h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #ababab;
  text-align: center;
  border-bottom: 2px solid #E09145;
  padding-bottom: 0.5rem;
}
.service p{
  color: #ababab;
  text-align: center;
}