/* Title.css */
.title-holder {
  text-align: center;
  margin: 0 0 20px;
}

.title-holder h2 {
  margin: 0 0 12px;
  text-transform: uppercase;
  color: #333;
}

.title-holder .subtitle {
  color: #ababab;
}

.title-holder .subtitle:before {
  content: '-';
  margin: 0 5px 0 0;
}

.title-holder .subtitle:after {
  content: '-';
  margin: 0 0 0 5px;
}

