.hero-block {
  display: flex;
  justify-content: center;
  /* background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url('./images/hero-bg.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  background-blend-mode: darken;
  backdrop-filter: blur(50px); */
}
.row {
  flex: 1;
}
.header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  gap: 1rem;
}
.hero-title{
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: #ababab 1px 1px 1px;
}
.hero-subtitle{
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ababab;
}
.hero-description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ababab;
  width: 70%;
}
.img-container{
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  filter: drop-shadow(2px 2px 2px #000);
  
}
.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-container a{
  text-decoration: none;
  color:#ababab;
}
.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0.5rem;
}
.socials-container ul {
  padding: 0;
}
.list-item {
  display: inline;
  margin-right: 1.5rem;
}
.list-item a{
  color: #ababab;
}