.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 32px);
  max-height: calc(100vh - 32px);
  margin: 16px 16px 16px 0;
  background-color: #131212;
  border-radius: 15px ;
  padding: 8px;
  overflow-y: auto;
  gap: 1rem;
}
p {
  color: #fff;
}
/* Scrollbar general */
::-webkit-scrollbar {
  width: 4px; /* Ancho de la barra de desplazamiento */
  height: 12px; /* Alto de la barra de desplazamiento */
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Thumb (el elemento que se mueve dentro del scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px;
}

/* Cambiar el color del thumb cuando se pasa el mouse por encima */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


