html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
  margin: 0;
  padding: 0;
}

body {
  align-content: center;
  align-items: center;
  font: 16px/1.6 "Muli", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background: #000 !important;
}
a {
  text-decoration: none;
  transition: color 0.3s ease;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
}
.block {
  margin: 5rem 0;
  padding-bottom: 3rem;
  border-bottom: 2px solid #161616;
}
.separator {
  margin: 1rem 0;
  border-bottom: 1px solid #ababab;
  width: 90%;
}


.title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 1.5rem;
  text-align: center;
  letter-spacing: 3px;
}
.title::before {
  content: "-";
  margin-right: 0.5rem;
}
.title::after {
  content: "-";
  margin-left: 0.5rem;
}
.progress-bar {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  height: 6px;
  background: #333533!important;
  transform-origin: 0%;
  z-index: 1000;
}
