.expirience-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.work-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}
.work-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #474747;
}

.work-block p{
  font-size: 1.25rem;
  color: #ababab;
  margin: 1rem 0;
}


.work-header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 150px;
}
.btn {
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0.5rem;
}
.work-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 0.5rem;
  overflow: hidden;
  max-height: 0; 
  transition: all 2s ease;
  padding: 0 0.75rem;
}
.work-description .description-text{
  color: #ababab;
  font-size: 1rem;
}

.work-description.show {
  max-height: 700px;
}
.icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}
.work-description p{
  font-size: 1.1rem; /* Tamaño de fuente del título */
  margin-bottom: 10px; /* Espaciado debajo del título */
  color: #fff;
}
.icon-rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease-out;
}
.work-stack {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco para contraste */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
}

.work-stack p {
  font-size: 1.1rem; /* Tamaño de fuente del título */
  margin-bottom: 10px; /* Espaciado debajo del título */
  color: #fff; /* Asegurar que el color del texto sea blanco */
}

.work-stack span {
  display: block; /* Cada herramienta en una nueva línea */
  margin: 5px 0; /* Espaciado vertical entre herramientas */
  font-size: 1rem; /* Tamaño de fuente de las herramientas */
  color: #ababab; /* Asegurar que el color del texto sea blanco */
}

